@font-face {
    font-family: Lato;
    src: url(/fonts/Lato2OFLWeb/Lato/fonts/Lato-Thin.ttf);
  }
@media only screen and (max-width:768px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .top-heading{
        font-family: Lato, sans-serif;
    }
}