@font-face {
  font-family: light-Lato;
  src: url(/fonts/Lato2OFLWeb/Lato/fonts/Lato-Medium.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .main-program {
    padding: 40px 10px;
    font-family: light-Lato, sans-serif;
    font-weight: 100;
    background: url(/image-resources/black-2696879_1920.jpg), #272a31;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
  }

  .heading-main span {
    border: 2px solid #ec5242;
    width: 20px;
    margin-bottom: 30px;
  }

  .lecture {
    display: flex;
    align-items: center;
    padding-right: 10px;
    width: 35%;
  }

  .lecture i {
    font-size: 28px;
    padding: 0 10px;
  }

  .lecture h3 {
    color: #ec5242;
    font-size: 20px;
    padding-left: 1px;
    font-weight: 900;
  }

  .main-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(97, 100, 108, 0.7);
    padding: 10px 10px;
    height: 15vh;
    font-family: light-Lato, sans-serif;
  }

  .main-paragraph {
    display: flex;
    padding-top: 10px;
    text-align: start;
    font-size: 14px;
    padding-left: 10px;
    width: 65%;
  }

  .card1 {
    margin-bottom: 10px;
  }

  .card2 {
    margin-bottom: 10px;
  }

  .card3 {
    margin-bottom: 10px;
  }

  .card4 {
    margin-bottom: 10px;
  }

  .card5 {
    margin-bottom: 10px;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    padding-top: 25px;
  }

  .btn-main {
    padding: 20px 25px;
    background-color: #ec5242;
    color: #fff;
    border: none;
    transition: 0.4s;
  }

  .btn-main:hover {
    background-color: #fff;
    color: #000;
  }

  .btn-main-desk {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .main-program {
    padding: 60px 120px;
    font-family: light-Lato, sans-serif;
    font-weight: 100;
    background: url(/image-resources/black-2696879_1920.jpg), #272a31;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
  }

  .heading-main {
    padding-bottom: 60px;
  }

  .heading-main span {
    width: 10%;
    height: 1px;
    margin-bottom: 30px;
  }

  .main-main {
    display: flex;
    flex-direction: row;
    gap: 3px;
  }

  .main-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(97, 100, 108, 0.7);
    height: 42vh;
  }

  .lecture {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .lecture i {
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
  }

  .lecture h3 {
    color: #ec5242;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }

  .main-paragraph {
    display: flex;
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
    height: 15vh;
  }

  .btn-main {
    display: none;
  }

  .btn-main-desk {
    color: #ebd1d1;
  }
}
